#IranMap .map svg{
    height: 500px;
    max-width: 100%;
}
#IranMap .map .border path, #IranMap .map .island path{
    fill: #fff;
}
#IranMap .map .province path{
    fill: #999;
}
#IranMap .map .sea path, #IranMap .map .lake path{
    fill: #6caed8;
}
#IranMap .map .province path.active {
    fill: #ff0000;
    cursor: pointer;
}
#IranMap .show-title{
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    margin: 0 !important;
    padding: 0 5px;
    text-align: center;
    line-height: 26px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    opacity: 0.8;
    font-size: 12px;
}
#IranMap .list {
    display: none;
}

#IranMap #stateData {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 240px;
    display: none;
}
#IranMap #stateData ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
#IranMap #stateData ul li {
    padding: 5px 0;
    border-bottom: 1px solid #f5f5f5;
}
#IranMap #stateData ul li:last-child {
    border-bottom: none;
}
#IranMap #stateData ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
#IranMap #stateData ul li:hover {
    background-color: #f5f5f5;
}
#IranMapDataClose {
    cursor: pointer;
}
#iranmap-categories {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-gap: 10px;
    padding: 0;
    margin: 0;

}
#iranmap-categories a {
	border: 0 !important;
}
.iranmap-category {
    border-radius: 5px;
    transition: 8ms;
}
.iranmap-category:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}
.iranmap-category-title-link {
    text-decoration: none !important;
    display: block;
    text-align: center;
    border: none !important;
    padding: 10px;
    ;
}
.iranmap-category-image {
    margin: 10px 0;
	text-align: center;
}
